#consumer-user
springboot-springcloud/consumer-user/.idea
springboot-springcloud/consumer-user/target

#eureka-server
springboot-springcloud/eureka-server/.idea
springboot-springcloud/eureka-server/target

#privider-ticket
springboot-springcloud/privider-ticket/.idea
springboot-springcloud/privider-ticket/target
